[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
packages/
/Components/Output/
/Components/Preview/
/Components/manifest.xml
TestResults/
Setup/WiX*/
Setup/Output/
.vs/

*.exe
*.suo
*.csproj.user
*.orig
*.vsp
*.psess
*.pfx
*.licenseheader
*.wixobj
*.nupkg
*.DotSettings.user
launchSettings.json
